<div class="profile">
	<div class="container">
		<div class="row">
			<div class="col">
				<img src="<%= data['avatar_url'] %>" class="avatar rounded float-center" alt="...">
				<div id="accordion-resizer" class="ui-widget-content">
					<div id="accordion">
						<h3>Basic Info</h3>
						<div>
							<ul class="list-group">
								<% ["login","id","gravatar_id","company","bio","location","email"].each do |key| %>
									<% next if data[key] == "" || data[key].nil? %>
									<li class="list-group-item"><b><%= key %>:</b> <%= data[key] %></li>
								<% end %>
							</ul>
						</div>
						<h3>Links</h3>
						<div>
								<% ["url","html_url","followers_url","following_url","gists_url","starred_url","subscriptions_url","organizations_url","repos_url","events_url","received_events_url"].each do |key| %>
								<% next if data[key] == "" || data[key].nil? %>
									<a href="<%= data[key] %>" class='btn btn-sm btn-primary'>
										<b><%= key %></b> 
									</a>
								<% end %>

						</div>
						<h3>Stats</h3>
						<div>
							<ul class="list-group">
								<% ["public_repos","public_gists","followers","following"].each do |key| %>
									<% next if data[key] == "" || data[key].nil? %>
									<li class="list-group-item">
										<%= key %>: 
										<span class="badge"><%= data[key] %></span>
									</li>
								<% end %>
							</ul>

						</div>
						<h3>Emails</h3>
						<div>
							<ul class="list-group">
								<% ["private_emails"].each do |key| %>
									<% next if data[key] == "" || data[key].nil? %>
									<li class="list-group-item">
										<% data[key].each do |email| %>
											<%= email['email'] %>
										<% end %>
									</li>
								<% end %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>