<!DOCTYPE html>
<html>
  <head>
    <title>GithubLogin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Github User Information</title>


    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
  <script>
  $( function() {
    $( "#accordion" ).accordion({
      heightStyle: "content",
      collapsible: true
    });
 
  } );
  </script>
  </head>
  <body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <% if session[:access_token] %>
        <a class="navbar-brand" href="#">Access Token: <%= session[:access_token] %></a>
    	<% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <% if session[:access_token] %>
              <a class="nav-link" href="<%= logout_users_path %>">Log Out</a>
            <% else %>
              <a class="nav-link" href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= ENV['CLIENT_ID'] %>">Log In With GitHub</a>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>


    <%= yield %>
  </body>
</html>
